[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO=mongodb-dev.devopsb71services.site
Environment=MONGO_URL=mongodb-dev.devopsb71services.site
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target